body{
	margin: 0;
	padding:0;
	background-color: #EEEEEE}	
.header{
	background-color: black;
	display: inline-block;
	width: 100%;
	position: fixed;
	top: 0;
	height: 80px;
	color:white;
	z-index: 2;
	padding-left: 20px;
	font-family: 'Sawasdee',sans-serif;
	transition: 0.3s;}
.content{background-color: white;}
.content .sidebar{
	width: 300px;
	height: 100%;
	position: fixed;
	background-color: grey;
	float: left;
	padding-top: 80px;
	transition: 0.3s;
	z-index: 0;}
.content .sidebar li{padding:10px;}

/*.content .space{
	height: 90px;
	background-color: red;
}*/

.content .main-content{
	background-color: white;
	height: 8000px;
	/*width: 100%;*/
	padding-left: 300px;
	padding-top: 0px;}
.main-content .intro{padding-left: 10px; padding-top: 80px;}
.main-content .element{padding-left: 10px; padding-top: 80px;}
.main-content .attribute{}
label{
	padding-left: 20px;
}
.code{
	width: 100%;
	padding-left: 20px;}
xmp{
	background-color: #eeeeee;
	border-left:10px solid #808080;
	width: 100%;}
.preview{
	padding-left: 10px;
	margin-left: 20px;
	background-color: #EEEEEE;}
.example{
	border: 1px solid lightgrey;
	width: 100px;
	padding: 10px;
	text-align: center;
}
.footer{
	background-color: #CCCCCC;
	width: 100%;
	display: inline-block;}
.hr{border-bottom: 1px solid grey;}